<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="yiduSessionFactory">
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="show_sql">true</property>
        <mapping class="org.yidu.novel.entity.TArticle" resource="hibernate/TArticle.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TBookcase" resource="hibernate/TBookcase.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TChapter" resource="hibernate/TChapter.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TSystemBlock" resource="hibernate/TSystemBlock.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TUser" resource="hibernate/TUser.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TReview" resource="hibernate/TReview.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TMessage" resource="hibernate/TMessage.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TSubscribe" resource="hibernate/TSubscribe.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TChapterOrder" resource="hibernate/TChapterOrder.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TOrder" resource="hibernate/TOrder.hbm.xml" />
        <mapping class="org.yidu.novel.entity.TChargeOrder" resource="hibernate/TChargeOrder.hbm.xml" />   
    </session-factory>
</hibernate-configuration>
